.o-columns {
    
    @media screen and ( min-width: $tablet + 1px ) {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item {
        
        @media screen and ( min-width: $tablet + 1px ) {
            width: 50%;
        }
    
        &--image {
            @media screen and ( max-width: $tablet + px ) {
                padding-top: 20px;
            }
        }
    }
}