.icon-log-out:before {
  content: "\e905";
}
.icon-dashboard:before {
  content: "\e907";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-help:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e900";
}
.icon-scroll:before {
  content: "\e901";
}
