.o-tabs {
    &__content {
        opacity: 0;
        
        &.is-active {
            @extend %anim;
            transition-duration: 150ms;
            opacity: 1;
        }

        
        > li {
            display: none;
            
            &.is-active {
                display: block;
            }
        }
    }

    &__nav {
        display: inline-flex;
        
        @media screen and ( max-width: $smartphone + px ) {
            display: flex;
        }
        
    
        li {
            @extend %flex;
            cursor: pointer;
            
            @media screen and ( max-width: $smartphone + px ) {
                flex: 1;
                justify-content: center;
            }
        }
    }
}