.c-breadcrumbs {
    @extend %anim;
    margin-bottom: 60px;
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        font-size: rem(12);
    }

    @media screen and ( max-width: $smartphone_portrait + px ) {
        font-size: rem(10);
    } 
    
    @media screen and ( max-width: 375px ) {
        display: none;
    }    
    
    a {
        @extend %rel;

        &:not(:first-of-type) {
            margin-left: 20px;
            
            &:before {
                @extend %abs;
                @extend %abs-after;
                left: -15px; top: 0;
                font-weight: $medium;
                content: '>';
            }
        }
    }
    
    span {
        @extend %antialias;
        @extend %rel;
        margin-left: 20px;
        font-weight: $medium;

        &:before {
            @extend %abs;
            @extend %abs-after;
            left: -15px; top: 0;
            font-weight: $medium;
            content: '>';
        }
    }
}

