.c-contactform {
    
    
    .o-btn {
        width: 100%;
        
        span {    
            &:first-of-type {
                
                font: {
                    size: rem(20);
                    weight: $bold;
                }
            }
            
            &:last-of-type {
                font-size: rem(12);
            }
        }
    }
    
    
}


