.c-login {
    @extend %flex;
    @extend %rel;
    font-size: rem(20);

    li {
        @extend %flex;
        @extend %flex-y;
        @extend %rel;
        padding: 0 10px;
        color: white;
        
        .c-top--black & {
            color: $c-black1;
        }
        
        @media screen and ( max-width: $tablet + px ) {
            color: $c-black1;
        }

        &:not(:last-child) {
            &:after {
                @extend %abs;
                @extend %abs-y;
                @extend %abs-after;
                right: 0;
                width: 1px;
                height: 20px;
                background-color: white;
                
                @media screen and ( max-width: $tablet + px ) {
                    background-color: $c-black1;
                }
                
                .c-top--black & {
                    background-color: $c-black1;
                }
            }
        }
 
        .icon-user {
            margin-right: 10px;
            font-size: rem(24);
        }
    }
}