.c-signup {

    @extend %rel;
    background: {
        image: url(../img/bg-signup.png);
        size: auto 100%;
        repeat: no-repeat;
        position: right top;
    }
    overflow: hidden;
    color: $c-black1;    
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        background-image: none;
    }
    
    &:before {
        left: 0; 
        width: 624px;
        height: 100%;
        background-color: white;
        width: grid(624, 1440);
    }
    
    &:after {
        left: 624px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100vh 400px 0 0;
        border-color: white transparent transparent transparent;
        left: grid(624, 1440);

    }
    
    &:before, &:after {
        @extend %abs;
        @extend %abs-after;
        z-index: -1;
        top: 0;
    }
    
    input[type=checkbox] {
        & + label {
            i {
                border-color: $c-black1;
            }
            
            span {
                color: $c-black1;
            }
        }
    }
    
    &__content {
        width: 640px;
        padding-bottom: 40px;
        
        .o-header__primary {
            margin-bottom: 20px;
        }
        
        @media screen and ( max-width: $base2 + px ) {
            width: grid(640);
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            width: 100%;
        }
    }
    
    
    .c-contactform {
        @media screen and ( min-width: $tablet + 1px ) {
            padding-right: 122px;
        }
        
        .form-group {
            background-color: $c-gray1;
        }
    }
    
    .o-header {
        margin-bottom: 40px;
    }
    
    .o-wrap {
        padding-top: 150px;
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            padding-top: 130px;
        }
        
        @media screen and ( max-width: 375px ) {
            padding-top: 100px;
        }
    }    
}