<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

    <div itemprop="mainContentOfPage" role="main" class="o-container">        

        <div class="c-sidebar">
        
            <a href="#" class="c-sidebar__logo">
                <img src=<%= require("./img/logo-discoeat--black.svg") %> alt="DiscoEat">
            </a>
        
            <nav class="c-sidebar__nav">
                <ul>
                    <li>
                        <a href="#"><i class="icon-dashboard"></i>Dashboard</a>
                    </li>
                    
                    <li class="is-active">
                        <a href="reservations-upcoming.html"><i class="icon-calendar"></i> Reservations&nbsp;<i class="o-circle o-circle--red">3</i></a>
                        
                        <ul>
                            <li class="is-active">
                                <a href="reservations-upcoming.html">Upcoming</a>
                            </li>
                            
                            <li>
                                <a href="reservations-past.html">Past</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="reservations-help.html"><i class="icon-help"></i> Help</a>
                    </li>
                </ul>
            </nav>
            
            <%= require('html-loader!./includes/emergency.html') %>

        </div>
        
        <div class="c-topbar js-top">
            <div class="o-hamburger js-reservations js-hamburger"></div>
        
            <div class="c-breadcrumbs" id="breadcrumbs">
                <a href="#">Reservations</a>
                <a href="#">Upcoming</a>
                <span class="js-current">Today</span>
            </div>
            
            <%= require('html-loader!./includes/logged.html') %>
        </div>

        <div class="c-reservations" id="reservations">
        
            <div class="o-tabs" id="tabs">
                <ul class="o-tabs__nav js-nav">
                    <li class="js-tab is-active">Today</li>
                    <li class="js-tab">All upcoming</li>
                </ul>
                
                <ul class="o-tabs__content is-active js-content">
                    <li class="is-active js-tab">

                        <table class="o-table">
                            <thead>
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">#People</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="yellow">
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status normal">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr class="yellow">
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr>
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr>
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr>
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </li>
                    
                    <li class="js-tab">

                        <table class="o-table">
                            <thead>
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">#People</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="yellow">
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr class="yellow">
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr>
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr>
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                                
                                <tr>
                                    <td data-label="Day">27-04-18</td>
                                    <td data-label="Time">13:00</td>
                                    <td data-label="#People">4</td>
                                    <td data-label="Name" class="js-expand">John Doe long name</td>
                                    <td data-label="Contact">+49 xxx xxx 888</td>
                                    <td data-label="Discount"><span>40% <span class="o-rectangleoval o-rectangleoval--promo">-5&euro; <i class="icon-help" data-message="Tooltip content..."></i></span></span></td>
                                    <td data-label="Status"><span><span class="o-rectangleoval o-rectangleoval--status upcoming js-lightbox" data-id="changeNumOfPeople">Upcoming <i class="icon-pencil"></i></span></span></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="c-pagination">
                            <a href="#" class="c-pagination__arrow c-pagination__arrow--prev"><span>Previous</span></a>
                            <a href="#" class="c-pagination__arrow c-pagination__arrow--next"><span>Next</span></a>
                            
                            <ul>
                                <li class="is-active">
                                    <a href="#">1</a>
                                </li>
                                
                                <li>
                                    <a href="#">2</a>
                                </li>
                                
                                <li>
                                    <a href="#">3</a>
                                </li>
                                
                                <li>
                                    <a href="#">4</a>
                                </li>
            
                                <li>
                                    <a href="#">5</a>
                                </li>
                                
                                <li>
                                    <span>...</span>
                                </li>
                                
                                <li>
                                    <a href="#">13</a>
                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>


    <%= require('html-loader!./includes/change-num-of-people.html') %>
</body>
</htm